pip-tools
pytest
pytest-cov
pydocstyle
pre-commit
mypy
torch
torchaudio
torchvision
pytorch-lightning
wandb
torchmetrics
librosa
matplotlib
pedalboard
transformers
pesq
audiomentations
pydub
pyroomacoustics
